/* Enter your custom styles here */
.myWelcomeText {
    font-size: 100px;
}

.myCustomTable {
    border : 1px solid #c72a2a;
    border-radius: 4px;
    overflow: hidden;
}

.myCustomTable .sapMListTblCell {
    border: 2px solid #1e1096 !important;
}

.myCustomTable .sapMListTblHeader {
    border-bottom: 2px solid #c72a2a !important;
    /* Adjust color and thickness as needed */
}

.myCustomTable .sapMListTblHeaderCell {
    border-right: 2px solid #c72a2a !important;
    border-top: 2px solid #c72a2a !important;
}