/* Enter your custom styles here */
.myWelcomeText {
    font-size: 100px;
}

.myCustomTable {
    border : 1px solid #c72a2a;
    border-radius: 2px;
    overflow: hidden;
}

.myCustomClass {
    border: 1px solid #c72a2a !important;
    background-color: thistle;
}

.myCustomTable .sapMListTblCell {
    border: 1px solid #c72a2a !important;
}

.myCustomTable .sapMListTblCell:first-child {
    border: 1px solid #c72a2a !important;
}

.myCustomTable .sapMListTblHeader {
    border-bottom: 1px solid #c72a2a !important;
    border-left: 1px solid #c72a2a !important;
    /* Adjust color and thickness as needed */
}

.myCustomTable .sapMListTblHeaderCell {
    border-right: 1px solid #c72a2a !important;
    border-top: 1px solid #c72a2a !important;
    background-color: aliceblue;
}